body{
    background-color: rgba(223, 152, 152, 0.862);
}

#profile_image{
    border: solid rgb(255, 255, 255) 2px;
}

.myheader{
    text-align: center;
}
.profile{
    border: 1px solid black ;
    border-radius: 10%;
}

#Projects{
    width: 500px;
    height: 500px;
    text-align: center;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

